{{#each this}}
  <div class="destination">
    <div>
    {{location}}, {{location_type}}
    </div>
    <div>
    {{#each reviews}}
      <span>{{title}}</span> | <span>{{date}}</span>
    {{/each}}
    </div>
    <button id="add-review#{{@key}}">Add Review</button>
  </div>
{{/each}}